#home {
  padding-top: 5rem;
  background-color: rgb(222, 238, 252);
}

#project {
  padding-top: 5rem;
  background-color: rgb(222, 238, 252);
}

#about {
  padding-top: 8rem;
}

#contact {
  padding-top: 5rem;
}
